* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    flex: 0.5;
  }
  footer {
    flex: 0.5;
  }
  .main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    aside {
      flex: 1;
    }
    main {
      flex: 3;
    }
  }
  @media (min-width: 1024px) {
    .main-wrapper {
      flex-direction: row;
    }
  }
}